.plans-container {
    gap: 4rem;
    margin-top: -4rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.plans {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.plans-header {
    display: flex;
    gap: 5rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    color: whitesmoke;
    text-transform: uppercase;
    font-style: italic;
}

.plans-header>span:nth-child(2) {
    text-shadow: -4px 3px black;
}

.plans-header>span:nth-child(1),
.plans-header>span:nth-child(3){
    text-shadow: 0 0 #4f5258, -6px 4px black;
}

.plan {
    display: flex;
    flex-direction: column;
    background-color: var(--caloryCard);
    color: white;
    gap: 2rem;
    padding: 1.5rem;
    width: 15rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    box-shadow: 0 0 15px black;
}

.plan:nth-child(2) {
    background: var(--planCard);
    transform: scale(1.1);
}

.plan>svg {
    fill: var(--orange);
    width: 2rem;
    height: 2rem;
}

.plan>:nth-child(2) {
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: -2px 1px black;
    margin-bottom: -1rem;
    margin-top: -1rem;
}

.plan>:nth-child(3) {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: -3px 2px black;
}

.plan>:nth-child(4) {
    font-style: italic;
}

.plan>:nth-child(5) {
    font-size: 0.8rem;
}

.plan>:nth-child(5):hover {
    cursor: pointer;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feature img {
    width: 1rem;
}

.plan:nth-child(2)>svg {
    fill: white;
}

.plan>button {
    border-radius: 5px;
    border: solid 1px transparent;
}

.plan>button:hover {
    border: solid 1px rgb(15, 14, 14);
    background-color: rgb(243, 108, 29);
    color: whitesmoke;
}