.Testimonials {
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
}

.left-t {
    display: flex;
    flex: 1 1;
    gap: 1.5rem;
    flex-direction: column;
    text-transform: uppercase;
    color: white;
}

.left-t>:nth-child(1) {
    color: var(--orange);
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: -3px 2px black;
}

.left-t>:nth-child(2),
.left-t>:nth-child(3) {
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 0 0 #4f5258, -5px 4px black;
}

.left-t>:nth-child(4) {
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 30px;
}

.left-t>:nth-child(5) {
    font-size: 1.15rem;
}

.right-t {
    flex: 1;
    position: relative;
}

.right-t>img {
    position: absolute;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    right: 8rem;
    top: 2rem;
    border-radius: 5px;
    border: solid 1px black;
    box-shadow: 0 0 15px 2px black;
}

.right-t>:nth-child(1) {
    position: absolute;
    width: 17rem;
    height: 20rem;
    border: solid 2px orange;
    background-color: transparent;
    right: 9rem;
    top: 0.9rem; 
}

.right-t>:nth-child(2) {
    position: absolute;
    width: 17rem;
    height: 19rem;
    right: 7rem;
    top: 4rem;
    background: var(--planCard);
}

.arrows {
    display: flex;
    gap: 2rem;
    position: absolute;
    bottom: 1rem;
    left: 3rem;
}

.arrows>img {
    width: 2rem;
    cursor: pointer;
}

.arrows>img:hover {
    filter: sepia(1000%) saturate(10000000000%) hue-rotate(300deg);
}